@use 'variables';
@use 'mixins';

.title-screen{
    @include mixins.default-grid;

    &__link{
        height: 100vh;
        @include mixins.default-grid;
        grid-template-rows: repeat(2, max-content);
        position: relative;
    }

    &__text{
        color: white;
        text-align: center;

        &_title{
            text-transform: uppercase;
            font-family: var(--title);
            font-size: 5rem;
            margin-top: 3.25rem;

            @include mixins.landscape{
                margin-top: 5.25rem;
            }
        }

        &_subtitle{
            font-size: 4.35rem;
            margin-top: 0.45rem;
            font-family: var(--handwriting);
        }
    }

    &__image{
        @include mixins.default-img;
        width: 40rem;
        justify-self: center;
        position: absolute;
        z-index: 1;
        top: 18rem;

        @include mixins.landscape{
            top: 20rem;
        }
        
    }

    &__image-background{
        position: absolute;
        justify-self: center;
        background: white;
        height: 24.5rem;
        width: 24.5rem;
        border-radius: 999rem;
        top: 17.5rem;

        @include mixins.landscape{
            top: 19.5rem;
        }
    }

}