@use 'variables';
@use 'mixins';

.win{
    @include mixins.default-grid;
    grid-auto-rows: max-content;

    &__heading{
        @include mixins.heading;
        margin: 25vh 0 2rem;
    }

    &__text{
        @include mixins.focus-text;
    }

    &__button{
        border: none;
        border-radius: 0.7rem;
        font-size: 1rem;
        padding: 0.65rem 1rem;
        cursor: pointer;
        font-weight: bold;
        margin: 0 auto 1.5rem;
        background: #ffd147;
        color:  #745701;
        width: 9.5rem;
        line-height: 1.3;
        text-align: center;

        &:hover{
            background: rgb(255, 226, 61);
        }
    }
}